# Python requirements for unit tests
-r ../requirements.txt

# Static code analysis
pylint
pycodestyle
pep257

# Comment because no tests are executed!
# unittest2
# mock
# nose
# nose-cov
# coverage
# coveralls

# Comment because no tests are executed!
# # alignak
# -e git+https://github.com/naparuba/shinken.git#egg=shinken
